body {
    background: rgb(1, 9, 12);
    font-family: space, Helvetica, sans-serif;
    color: black;
    text-align: center;
    background-image: url('/img/background-numbers4.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.dark-mode {
    background-image: url('/img/darkMode2.jpg');
    background-size: cover;
    background-position: center;
    background-image: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);

}

.box {
    background: rgba(242, 245, 246, 0.65);
    /* background: rgba(1, 1, 1, 0.75); */

    margin: auto;

}

.size {
    color: black;
    height: 50Px;
    width: 70px;
    font-size: 15Px;
    background-color: rgb(82, 189, 231);
    border-radius: 20%;
    margin-top: 10Px;
    margin-bottom: 10Px;
    text-align: center;
    border-width: 1Px;
    box-shadow: 0 2px 2px 0 black, 0 2px 2px 0 red;
}

.lives {
    text-align: center;
}

.smiley {
    height: 30Px;
    margin-bottom: 10px;
}

.smiley:hover {
    cursor: pointer;
}

.timer {
    text-align: center;
    background-color: lightblue;
    color: black;
    height: 40px;
    width: 150Px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10PX;
}

.flags {
    width: 100px;
    height: 30px;
    margin: auto;
}

.undo {
    background-image: url('/img/undo.jpg');
    background-size: cover;
    background-position: center;
    background-image: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0px;
    margin: auto;
    cursor: pointer;
    margin-bottom: 5PX;
}

table {
    background-color: darkgrey;
    margin: auto;
    border-collapse: separate;
    border-spacing: 3px;
    border-color: darkgrey;
}

td {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: lightslategrey;
    text-align: center;
    box-shadow: 2Px 2px 2px 2PX darkgrey, 2Px 2px 2px 2PX black;
}

td:hover {
    background-color: lightgray;
    cursor: pointer;
    font-weight: bold;
}

.shown {
    background-color: lightblue;
    transition: 0.5s;
    /* box-shadow: 3Px 2px 2px 3PX black, 0Px 5px 5px 0PX red; */
}

.zero {
    color: cadetblue
}

.mine {
    background-color: orangered;
}

.div-hint {
    margin: 15Px 0px 15px 0px;
}

.btn-hint {

    border-radius: 45%;
}

.btn-hint:hover {
    background-color: #00f2ff;
    cursor: pointer;
    font-weight: bold;
}

h3 {
    text-align: center;
}

.modal {
    display: none;
    border: solid 3px grey;
    width: 300px;
    height: 200px;
    background-color: rgb(94, 13, 247);
    color: black;
    font-size: 32px;

    position: absolute;
    top: 200px;
    left: calc(50% - 150px);
}

.restart-btn {
    margin-top: 20px;
    background-color: black;
    color: rgb(230, 221, 221);
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #00f2ff;
    cursor: pointer;
    font-weight: bold;
}

.btn-mega-hint {
    height: 50Px;
    width: 120px;
    font-size: 15Px;
    background-color: lightblue;
    border-radius: 10%;
    margin-top: 10Px;
    margin-bottom: 10Px;
    text-align: center;
    border-width: 1Px;
    box-shadow: 0 2px 2px 0 black, 0 2px 2px 0 red;
}

.btn-Exterminator {
    height: 50Px;
    width: 120px;
    font-size: 15Px;
    background-color: lightblue;
    border-radius: 10%;
    margin-top: 10Px;
    margin-bottom: 10Px;
    text-align: center;
    border-width: 1Px;
    box-shadow: 0 2px 2px 0 black, 0 2px 2px 0 red;
}

.highlight {
    background-color: #d7d0eb;
}